* {
  margin: 0;
  direction: rtl;
  font-family: arabic_kufi;
}

/******************************/
/*Navbar*/
/******************************/

#nav-bar {
  display: flex;
  align-items: center;
  position: fixed;
  background: rgba(0, 0, 0, 0.75) none repeat scroll 0 0;
  border: none;
  width: 100%;
  border-bottom: 0.5px solid rgb(160, 160, 160);
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 10;
}

#nav-bar a {
  text-decoration: none;
  color: white;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  font-size: 13px;
  font-weight: 300;
  line-height: 24px;
  transition: 0.3s all;
}

#nav-bar a:hover {
  color: #bbbbbb;
}

#right-nav {
  padding-right: 230px;
  padding-left: 30px;
}
#right-nav img {
  cursor: pointer;
}

#middle-nav {
  margin-left: 180px;
}

#nav-bar button {
  color: #fff;
  background-color: #28a745;
  text-align: center;
  border-radius: 0.25rem;
  border: none;
  line-height: 1;
  padding: 4px;
  margin-right: -5px;
  cursor: pointer;
  transition: 0.2s all;
}

#nav-bar button:hover {
  background-color: #329d4b;
}

#left-nav img {
  border-radius: 50%;
}

/******************************/
/*Middle Section*/
/******************************/

#middle {
  height: 630px;
  overflow: hidden;
  margin-bottom: 50px;
}

#home-pic {
  width: 100%;
  object-fit: contain;
  margin-top: 61px;
  position: relative;
}

#middle-text {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 350px;
  flex-direction: column;
  margin-right: auto;
  right: 310px;
}

#middle-text h1 {
  color: #fff;
  font-size: 50px;
  font-weight: 400;
  line-height: 64px;
}

#middle-text p {
  color: #fff;
  font-weight: lighter;
  font-size: medium;
}

#search {
  display: flex;
  margin-top: 20px;
}

#search-bar {
  border: none;
  border-radius: 5px;
  width: 700px;
  text-align: center;
  font-size: 25px;
}

#search button {
  margin-right: 3px;
  background-color: #935cae;
  padding-left: 10px;
  padding-right: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
  transition: 0.2s all;
}

#search button:hover {
  cursor: pointer;
  background-color: #6f3f87;
  color: rgb(26, 26, 26);
}

/*    senter    */
.ht {
  margin: auto;
}
.img_pro {
  max-width: -webkit-fill-available;
  border-radius: 20px;
}
.clearfix {
  max-width: 30%;
  padding: 5px;
  position: relative;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}
.line {
  width: 80px;
  height: 3px;
  background-color: #935cae;
  display: block;
  margin-bottom: 15px;
  margin-right: inherit;
}
.hover-content {
  position: absolute;
  top: 40px;
  right: 40px;
  z-index: 10;
  text-align: right;
  font-family: "Droid Arabic Kufi";
  color: black;
}
.section-title {
  font-size: 45px;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
  text-align: center;
}
.section-products {
  font-family: "Droid Arabic Kufi";
  background: white;
}

.cat-tags-ar {
  background: #ffffffa6;
  border-radius: 10px;
  padding: 3px 10px 3px 10px;
  display: inline-block;
  margin-top: 5px;
  font-size: small;
  font-weight: lighter;
}

.hover-content-tags-ar {
  right: 10px !important;
  left: 10px !important;
  text-align: right;
  font-family: "Droid Arabic Kufi";
  top: auto !important;
  bottom: 20px;
}

.footer {
  background: #313238 none repeat scroll 0 0;
  padding: 10px;
  height: 70px;
  color: #fff;
}
.call {
  color: #ff9b17 !important;
  font-weight: bold;
}
.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.h4 {
  font-weight: lighter;
  font-size: medium;
}

.btn-purple {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  color: white;
  background: #935cae !important;
  /* z-index: 2; */
  border: none;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  padding: 0.375rem 0.75rem;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
}
.show {
  display: block;
}
.select2-search__field {
  width: 70%;
  height: 40px;
  text-align: center;
  font-size: x-large;
  box-sizing: border-box;
  border: none;
  padding: 30px;
  border-radius: 0.4rem;
}

.btn-purple:hover {
  color: #313238;
}
.select2-search__field:focus {
  border: none;
  background-color: white;
}
